body {
    font-family: sans-serif;
    background-color: #d6fff8;
    }
 a {
    font-family: Arial, SansSerif;
    color: #ff6f37;
    font-weight: bold;
    text-decoration: none;
}
nav {
    word-spacing: 10px;
}
span{
    display: block
}
input[type=submit]{
    display: block
}